/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 15, 2015, 9:38:06 PM
    Author     : BrandonB
*/
body {
/*background: #BFD7C1; /* light green */
background: url(Fondo.jpg);
background-repeat:no-repeat;
background-size: 100% 100%;
 color: #262626;
  font-family: Arial, san-serif;
 }
 
 h1,h2{text-align:center;}

 #contact-form {
 background-color: #679ED2; 
 width: 465px;
 padding: 20px;
 margin: 50px auto;
 border-radius: 15px;
 -moz-border-radius: 15px;
 -webkit-border-radius: 15px;
 } 

 #contact-form input,
 #contact-form select,
 #contact-form textarea,
 #contact-form label {
 font-size: 15px;
 margin-bottom: 2px;
 font-family: Arial, san-serif;
 }
 #contact-form input,
 #contact-form select,
 #contact-form textarea {
 width: 450px;
 background: #fff;
 border: 0; 
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 margin-bottom: 25px;
 padding: 5px;
 }

 #contact-form input:focus,
 #contact-form select:focus,
 #contact-form textarea:focus {
 background-color: #E5E6E7; 
 }

 #contact-form textarea {
 height: 150px;
 }
 #contact-form #submit {
 width: 450px;
 color: #FFFFFF;
 border: none;
 background-color: #0C5AA6;
 }
 #contact-form #submit:hover {
 background-color: #408AD2;
 color: #FFFFFF; 
 }
 input:required, textarea:required {
 box-shadow: none;
 -moz-box-shadow: none;
 -webkit-box-shadow: none;
 -o-box-shadow: none;
 } 
 #contact-form .required {
 font-weight:bold;
 color: #E5E6E7;
 }
 #failure, #success {
 color: #6EA070; 
 display:none;
 }